	
.container {
    height: auto;
    margin: .5em;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    color: #eec0ed;
    letter-spacing: 1.5em;
    line-height: 120%;
    text-align: center;
    background-color: white;
    font-size: 1.8em;
    padding: .8em 0 .8em 10%;
}

h3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    font-size: 0.6em;
    color: #535353;
    background-color: white;
    padding: 5% 0 3% 0;
}

p {
    font-family: 'Futura-Medium', sans-serif;
    background-color: white;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.6em;
}

blockquote{
    background-color: white;
    padding: .5em;
    border-radius: 8px;
    font-family: 'Futura-Medium', sans-serif;
    line-height: 1.5em;
    color:#eaeced;
    text-indent: 1.5em;
    quotes:"\201C" "\201D";  
}

section {
    padding: 0% 0% 0% 0%;
    text-align: left;
    background-color: white;
    overflow: hidden;
}

section h3 {
    font-size: 1.2em;
    text-align: center;
    padding: 0% 0 0 0;
    line-height: 120%
}

section p {
    font-size: 1em;
    text-decoration: none;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    float:inherit;
}

main {
   
    text-align: justify;
    background-color: white;
    padding: 0 2% 4% 2%;
    overflow: hidden;
}

em {
    font-size: 1.2em;
    font-style: italic;
    color: #706f7e;
    display: block;
    padding: 0 0 1% 0;
}

.professional {
    margin: 3% 0 0 0;
}

.professional p{
    margin: 0 0 1% 0;
}
nav ul {
    margin:0;
    padding: 1em 0 0 0;
    text-align: center;
    text-decoration: none;
    background-color:white;
    width: 100%;
    font-size: 1.1em;
}
nav ul li {
    display: block;
    padding: 1% 1% 1% 1%;
    margin: 0 0 0 0%;
}

nav ul li a {
    display: block;
    text-decoration: none;
    line-height: 180%;
    background: white;
    font-family: 'Futura-Medium', sans-serif;
    color: #f4f4f4;
    font-weight: 400;
}

nav ul li a:hover {
    color: #eaeced;
}

a:link {
    color: #bacae2;
}

a:hover { 
    color: #eaeced; 
}

nav ul li a:visited { 
    color: #bacae2; 
}

ul li {
    font-family: 'Futura-Medium';
    line-height: 1.4em;
    color: #000000;
    margin-left: 3em;
    padding-right: 10%;
}

footer {
    height: auto;
    color: #eaeced;
    text-decoration: none;
    font-family: 'Futura-Medium', sans-serif;
    text-align: center;
    padding: 3% 0 3% 0;
    overflow: hidden;
    background-color:white;
    width: 100%;
    font-size: 1.2em;
}

footer:visited { 
    color: #000000;
    text-decoration: none;
}


.footertext {
    display: block;
    font-size: 1.2em;
}
